@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* HEADER */

.header {
  min-width: 122rem;
  padding-bottom: 126px;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  background-color: #282828;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 117rem;
  margin: auto;
  padding-top: 28px;
}

.logo-img {
  width: 179px;
}

.menu-list {
  display: flex;
  margin-top: -6px;
  margin-bottom: 0;
  list-style-type: none;
}

.list-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  padding-right: 35px;
}

.list-link:hover {
  text-decoration: underline;
}

.title {
  color: #ffffff;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 1.66;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  padding-top: 100px;
  margin: auto;
  max-width: 70rem;
}

/* TRENDS */

.trends-box {
  margin-top: 57px;
}

.tredns-shop-header {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
  color: #0f0d0e;
  text-align: center;
  margin: 0;
}

.tredns-shop-header::after {
  content: "";
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.trends {
  display: flex;
  width: 100%;
  min-height: 32rem;
  margin-top: 2.9rem;
}

.trend {
  display: flex;
  align-items: flex-end;
  width: 25%;
  height: 32rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  position: relative;
  z-index: 0;
  margin-right: 4px;
}

.trend:last-of-type {
  margin-right: 0;
}

.trend-garden-img {
  background-image: url("../img/trend1.jpg");
}

.trend-cheeses-img {
  background-image: url("../img/trend2.jpg");
}

.trend-mountains-img {
  background-image: url("../img/trend3.jpg");
}

.trend-lemons-img {
  background-image: url("../img/trend4.jpg");
}

.trend::after {
  content: "";
  background-color: #282828;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}

.trend-text-box {
  border: 3px solid #b59f5b;
  margin-bottom: 16px;
  margin-left: 18px;
  margin-right: 22px;
  padding-left: 32px;
  padding-bottom: 37px;
  padding-top: 39px;
}

.trend-tag {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.trend-tag-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-right: 20px;
}

.trend-tag-link:hover {
  text-decoration: underline;
}

.trend-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
}

.trend-link:hover {
  color: #b59f5b;
}

/* MAIN PAGE */

.page {
  display: flex;
  max-width: 1200px;
  background-color: #ffffff;
  margin: auto;
  justify-content: space-between;
  margin-top: 64px;
}

.post {
  width: 77.8rem;
  height: 29.4rem;
  display: flex;
}

.post:nth-child(n + 2) {
  margin-top: 60px;
}

.post-img {
  width: 38.1rem;
}

.post-text {
  margin-left: 30px;
  overflow: hidden;
}

.post-tag {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: -2px;
  margin-bottom: -18px;
}

.post-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  margin-right: 19px;
  text-transform: uppercase;
}

.post-link:hover {
  text-decoration: underline;
}

.post-header {
  line-height: 1.06;
  margin-bottom: 29px;
  margin-top: 27px;
}

.post-header_link {
  text-decoration: none;
  color: #0f0d0e;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

.post-header_link:hover {
  color: #b59f5b;
}

.date-author {
  font-size: 1.2rem;
  margin-bottom: 46px;
}

.date {
  font-weight: normal;
  font-style: normal;
  color: #888888;
  margin-right: 8px;
}

.author {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.post-article {
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.46;
  color: #0f0d0e;
}

/* ASIDE */

.side-bar {
  display: block;
  width: 272px;
}

.aside__headers {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #0f0d0e;
  text-align: center;
}

.new-post-header {
  margin-top: -5px;
  margin-bottom: 43px;
}

.aside__headers::after {
  content: "";
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.side-post-first {
  display: flex;
  margin-top: -15px;
}

.side-post {
  display: flex;
  margin-top: 18px;
}

.side-post__text {
  margin-left: 16px;
  margin-top: -8px;
}

.side-post__img {
  width: 7rem;
}

.side-post__date {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0.54;
}

.side-post__header {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.28;
  margin-top: 1px;
  margin-bottom: 0;
}

.side-post__header___link {
  color: #000000;
  text-decoration: none;
}

.side-post__header___link:hover {
  color: #b59f5b;
}

/* FORM */

.form-search {
  display: flex;
  margin-top: 52px;
}

.search-field {
  width: 22.2rem;
  height: 4.8rem;
  border: none;
  background-color: #f4f7f6;
  padding: 17px;
  font-size: 1.3rem;
  font-weight: normal;
}

.search-field:focus {
  outline: 1px solid #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button {
  content: "";
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.8rem;
  background-color: #b59f5b;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000;
}

.subscribe-header {
  margin-top: 57px;
}

.form-subscribe {
  display: block;
  margin-top: 24px;
}

.subcribe-field {
  width: 100%;
  height: 4.8rem;
  border: 0px solid white;
  background-color: #f4f7f6;
  padding: 17px;
  font-size: 13px;
  font-weight: normal;
}

.subcribe-field:focus {
  outline: 1px solid #b59f5b;
}

.subcribe-button {
  width: 100%;
  height: 4.8rem;
  border: none;
  margin-top: 16px;
  background-color: #b59f5b;
  cursor: pointer;
}

.subcribe-button:hover {
  background-color: #000000;
}

.subcribe-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffffff;
}

/* tags and categories */

.tags-header {
  margin-top: 56px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-bottom: 0;
  padding-left: 0;
}

.tags-list__element {
  list-style-type: none;
  margin-top: 15px;
  margin-right: 8px;
}

.tags-list__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  border: 3px solid #eeeeee;
  padding: 4px 12px;
}

.tags-list__link:hover {
  border: 3px solid #b59f5b;
}

.categories-header {
  margin-top: 60px;
}

.categories-list {
  margin-top: 21px;
  padding-left: 0;
  font-weight: bold;
}

.categories-list__element {
  list-style-type: none;
  margin-bottom: 25px;
  position: relative;
}

.categories-list__link {
  text-decoration: none;
  color: #000000;
  font-size: 1.4rem;
}

.categories-list__link:hover {
  color: #b59f5b;
}

.categories-list__number {
  color: #b59f5b;
  font-size: 1.2rem;
  vertical-align: top;
  margin-left: -2px;
}

.categories-list__element::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  top: 33px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* SHOP */

.shop-box {
  margin-top: 59px;
}

.products {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 28px auto 0;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-pic-box {
  margin: 0 auto -37px auto;
  width: 30rem;
  position: relative;
  z-index: -1;
}

.product-pic {
  width: 30rem;
}

.product-text-box {
  border: 3px solid #d3c59d;
  padding: 28px 19px 25px 20px;
  position: relative;
  z-index: 0;
  width: 34.7rem;
  flex-grow: 1;
}

.product-header {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 2px;
}

.product-text {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

.product-text__link {
  text-decoration: none;
  color: #b59f5b;
}

.product-text__link:hover {
  text-decoration: underline;
}

.price-shop-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.old-price {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
  text-decoration: line-through;
  display: block;
}

.new-price {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  display: block;
}

.shop-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 4.9rem;
  background-color: #b59f5b;
  text-decoration: none;
  color: #ffffff;
}

.shop-link__text {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.shop-link:hover {
  background-color: #323232;
}

/* FOOTER */

.social-box {
  background-color: #f4f7f6;
  margin-top: 64px;
}

.social-list {
  display: flex;
  max-width: 1200px;
  padding-left: 0;
  margin: auto;
  justify-content: center;
}

.social-list__element {
  list-style-type: none;
  margin-right: 30px;
  padding-top: 31px;
  padding-bottom: 31px;
}

.social-list__link {
  display: block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2rem;
}

.social-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-link-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyrights {
  color: #999999;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 41px;
}

/* POPUP */

.popup-box {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  padding-top: 10rem;
}

.popup {
  position: relative;
  width: 39rem;
  height: 59rem;
  background-color: #ffffff;
  padding-top: 47px;
  margin: auto;
}

.popup-header {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

.popup-header::after {
  content: "";
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
  margin: 8px auto 0 auto;
}

.popup-row {
  margin-left: 30px;
  margin-top: 22px;
}

.popup-hint {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
}

.popup-select {
  width: 33rem;
  height: 4.8rem;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  margin-top: 7px;
  padding-left: 19px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 8px 18px;
  background-position: right 14px center;
  background-color: #f4f7f6;
}

.popup-select:focus {
  outline: 1px solid #d3c59d;
  border-radius: none;
}

.popup-radio {
  margin-left: 30px;
  margin-top: 27px;
}

.radio-box {
  margin-top: 2px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-group-text {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  margin-right: 12px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.8rem;
  vertical-align: middle;
  margin-right: 4px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.comment-area-box {
  margin-top: 26px;
  margin-left: 30px;
}

.comment-area-text {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
}

.comment-area {
  margin-top: 12px;
  min-width: 33rem;
  min-height: 13.2rem;
  max-width: 33rem;
  max-height: 13.2rem;
  background-color: #f4f7f6;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  padding: 21px 0 0 21px;
  border: none;
}

.comment-area:focus {
  outline: 1px solid #b59f5b;
}

.popup-button {
  margin-top: 21px;
  margin-left: 30px;
  width: 33rem;
  height: 4.9rem;
  background-color: #b59f5b;
  border: none;
}

.popup-button-text {
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
}

.popup-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.close-button {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: center center;
  background-color: transparent;
  right: -2px;
  top: -26px;
  border: none;
}

.close-button:hover {
  cursor: pointer;
}