@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* HEADER */

.header {
  padding-top: 28px;
  padding-bottom: 126px;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  background-color: #282828;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 117rem;
  margin: auto;
}

.logo-img {
  width: 179px;
}

.menu-list-button {
  display: none;
}

.menu-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.menu-list-item {
  margin-right: 35px;
}

.menu-list-item:last-of-type {
  margin-right: 0;
}

.list-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}

.list-link:hover {
  text-decoration: underline;
}

.title {
  color: #ffffff;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 1.66;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 100px auto 0 auto;
  max-width: 70rem;
}

/* TRENDS */

.trends-box {
  margin-top: 57px;
}

.tredns-shop-header {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
  color: #0f0d0e;
  text-align: center;
  margin: 0;
}

.tredns-shop-header::after {
  content: "";
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.trends {
  display: flex;
  width: 100%;
  min-height: 32rem;
  margin-top: 2.9rem;
}

.trend {
  display: flex;
  align-items: flex-end;
  width: 25%;
  min-height: 32rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  position: relative;
  z-index: 0;
  margin-right: 4px;
}

.trend:last-of-type {
  margin-right: 0;
}

.trend-garden-img {
  background-image: url("../img/trend1.jpg");
}

.trend-cheeses-img {
  background-image: url("../img/trend2.jpg");
}

.trend-mountains-img {
  background-image: url("../img/trend3.jpg");
}

.trend-lemons-img {
  background-image: url("../img/trend4.jpg");
}

.trend::after {
  content: "";
  background-color: #282828;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}

.trend-text-box {
  width: 100%;
  border: 3px solid #b59f5b;
  margin-bottom: 16px;
  margin-left: 18px;
  margin-right: 22px;
  padding-left: 32px;
  padding-bottom: 37px;
  padding-top: 39px;
}

.trend-tag {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.trend-tag-item {
  margin-right: 20px;
}

.trend-tag-item:last-of-type {
  margin-right: 0;
}

.trend-tag-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.trend-tag-link:hover {
  text-decoration: underline;
}

.trend-header {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.trend-link {
  text-decoration: none;
  color: #ffffff;
  line-height: 1.2;
}

.trend-link:hover {
  color: #b59f5b;
}

/* MAIN PAGE */

.page {
  display: flex;
  max-width: 1200px;
  background-color: #ffffff;
  margin: auto;
  justify-content: space-between;
  margin-top: 64px;
}

.main-page {
  width: 77.8rem;
}

.post {
  display: flex;
}

.post:nth-child(n + 2) {
  margin-top: 57px;
}

.post-img {
  width: 38.1rem;
}

.post-text {
  margin-left: 30px;
  overflow: hidden;
}

.post-tag {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: -2px;
  margin-bottom: 0;
}

.post-tag-item {
  margin-right: 19px;
}

.post-tag-item:last-of-type {
  margin-right: 0;
}

.post-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.post-link:hover {
  text-decoration: underline;
}

.post-header {
  line-height: 1.06;
  margin-bottom: 29px;
  margin-top: 9px;
}

.post-header_link {
  text-decoration: none;
  color: #0f0d0e;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

.post-header_link:hover {
  color: #b59f5b;
}

.date-author {
  font-size: 1.2rem;
  margin-bottom: 46px;
}

.date {
  font-weight: normal;
  font-style: normal;
  color: #888888;
  margin-right: 8px;
}

.author {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.post-article {
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.46;
  color: #0f0d0e;
}

/* ASIDE */

.side-bar {
  display: block;
  width: 272px;
}

.aside__headers {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #0f0d0e;
  text-align: center;
}

.new-post-header {
  margin-top: -5px;
  margin-bottom: 28px;
}

.aside__headers::after {
  content: "";
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.side-post-first {
  display: flex;
}

.side-post {
  display: flex;
  margin-top: 18px;
}

.side-post__text {
  display: block;
  margin-left: 16px;
}

.side-post__img {
  width: 7rem;
}

.side-post__date {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0.54;
}

.side-post__header {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.28;
  margin-top: 1px;
  margin-bottom: 0;
}

.side-post__header___link {
  color: #000000;
  text-decoration: none;
}

.side-post__header___link:hover {
  color: #b59f5b;
}

/* FORM */

.form-search {
  display: flex;
  margin-top: 62px;
}

.search-label {
  width: calc(100% - 4.8rem);
}

.search-field {
  width: 100%;
  height: 4.8rem;
  border: none;
  background-color: #f4f7f6;
  padding: 17px;
  font-size: 1.3rem;
  font-weight: normal;
}

.search-field:focus {
  outline: 1px solid #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.8rem;
  background-color: #b59f5b;
  cursor: pointer;
  padding: 0;
}

.search-button:hover {
  background-color: #000000;
}

.subscribe-header {
  margin-top: 57px;
}

.form-subscribe {
  display: block;
  margin-top: 24px;
}

.subcribe-field {
  width: 100%;
  height: 4.8rem;
  border: 0px solid white;
  background-color: #f4f7f6;
  padding: 17px;
  font-size: 13px;
  font-weight: normal;
}

.subcribe-field:focus {
  outline: 1px solid #b59f5b;
}

.subcribe-button {
  width: 100%;
  height: 4.8rem;
  border: none;
  margin-top: 16px;
  background-color: #b59f5b;
  cursor: pointer;
}

.subcribe-button:hover {
  background-color: #000000;
}

.subcribe-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffffff;
}

/* tags and categories */

.tags-header {
  margin-top: 58px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 0;
  padding-left: 0;
}

.tags-list__element {
  list-style-type: none;
  margin-top: 17px;
  margin-right: 8px;
}

.tags-list__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  border: 3px solid #eeeeee;
  padding: 4px 12px;
}

.tags-list__link:hover {
  border: 3px solid #b59f5b;
}

.categories-header {
  margin-top: 64px;
}

.categories-list {
  margin-top: 24px;
  padding-left: 0;
  font-weight: bold;
}

.categories-list__element {
  list-style-type: none;
  margin-bottom: 15px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
}

.categories-list__link {
  text-decoration: none;
  color: #000000;
  font-size: 1.4rem;
}

.categories-list__link:hover {
  color: #b59f5b;
}

.categories-list__number {
  color: #b59f5b;
  font-size: 1.2rem;
  vertical-align: top;
  margin-left: -2px;
}

/* SHOP */

.shop-box {
  margin-top: 59px;
}

.products {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 28px auto 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin-right: 66px;
}

.product:last-of-type {
  margin-right: 0;
}

.product-pic-box {
  margin-bottom: -34px;
  position: relative;
  z-index: -1;
}

.product-text-box {
  border: 3px solid #d3c59d;
  padding: 28px 24px 25px 24px;
  position: relative;
  z-index: 0;
  flex-grow: 1;
}

.product-header {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 2px;
}

.product-text {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

.product-text__link {
  text-decoration: none;
  color: #b59f5b;
}

.product-text__link:hover {
  text-decoration: underline;
}

.price-shop-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.old-price {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
  text-decoration: line-through;
  display: block;
}

.new-price {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  display: block;
}

.shop-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 4.9rem;
  background-color: #b59f5b;
  text-decoration: none;
  color: #ffffff;
}

.shop-link__text {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.shop-link:hover {
  background-color: #323232;
}

/* FOOTER */

.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.social-box {
  background-color: #f4f7f6;
  margin-top: 64px;
}

.social-list {
  display: flex;
  max-width: 1200px;
  padding-left: 0;
  margin: auto;
  justify-content: center;
  padding: 31px 0;
}

.social-list__element {
  list-style-type: none;
  margin-right: 30px;
}

.social-list__element:last-of-type {
  margin-right: 0;  
}

.social-list__link {
  display: block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2rem;
}

.social-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-link-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyrights {
  color: #999999;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 41px;
}

/* POPUP */

.popup-box {
  display: flex;
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  width: 39rem;
  background-color: #ffffff;
  padding: 47px 30px 63px 30px;
}

.popup-header {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

.popup-header::after {
  content: "";
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
  margin: 8px auto 0 auto;
}

.popup-row {
  margin-top: 22px;
}

.popup-hint {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
}

.popup-select {
  width: 100%;
  height: 4.8rem;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  margin-top: 7px;
  padding-left: 19px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 8px 18px;
  background-position: right 14px center;
  background-color: #f4f7f6;
}

.popup-select:focus {
  outline: 1px solid #d3c59d;
  border-radius: none;
}

.popup-radio {
  margin-top: 27px;
}

.radio-box {
  margin-top: 2px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-group-text {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  margin-right: 12px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.8rem;
  vertical-align: middle;
  margin-right: 4px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.comment-area-box {
  margin-top: 26px;
}

.comment-area-text {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
}

.comment-area {
  margin-top: 12px;
  width: 100%;
  min-height: 13.2rem;
  max-width: 33rem;
  max-height: 13.2rem;
  background-color: #f4f7f6;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  padding: 21px 0 0 21px;
  border: none;
}

.comment-area:focus {
  outline: 1px solid #b59f5b;
}

.popup-button {
  margin-top: 21px;
  padding: 0;
  width: 100%;
  height: 4.9rem;
  background-color: #b59f5b;
  border: none;
}

.popup-button-text {
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
}

.popup-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.close-button {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: center center;
  background-color: transparent;
  right: -2px;
  top: -26px;
  border: none;
}

.close-button:hover {
  cursor: pointer;
}

/* TABLET */

@media (min-width:641px) and (max-width:1199px) {
/* TABLET-HEADER */
  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
  }

  .menu {
    width: 69.8rem;
  }

  .logo-img {
    width: 158px;
  }

  .menu-list {
    display: none;
  }

  .menu-list-button {
    display: block;
    position: relative;
    width: 2.3rem;
    height: 1.9rem;
    background-color: transparent;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    padding: 0;
  }

  .menu-list-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: 0;
  }

  .menu-button-label {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: calc(50% - 1.5px);
  }

  .menu-list-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
  }

  .title {
    font-size: 4rem;
    max-width: 62rem;
    line-height: 1.38;
  }

/* TABLET-TRENDS */

  .tredns-shop-header {
    font-size: 1.8rem;
  }

  .trends {
    flex-wrap: wrap;
    width: 100%;
  }

  .trend {
    width: calc(50% - 2px);
  }

  .trend:nth-of-type(-n+2) {
    margin-bottom: 4px;
  }

  .trend:nth-of-type(even) {
    margin-right: 0;
  }

  .trend-header {
    font-size: 1.7rem;
  }

/* MAIN-PAGE-TABLET */

  .page {
    justify-content: space-evenly;
  }

  .main-page {
    width: 39.2rem;
  }

  .post {
    display: block;
    border-bottom: 3px solid #eeeeee;
  }

  .post:last-of-type {
    border: none;
  }

  .post-img {
    width: 100%;
  }

  .post-text {
    margin-left: 0;
    margin-top: 15px;
  }

  .post-header_link {
    font-size: 1.7rem;
  }

/* SHOP-TABLET */

  .products {
    flex-wrap: wrap;
    padding-right: 4.4%;
    padding-left: 4.4%;
  }

  .product {
    width: calc((100% - 23px)/2);
    margin-right: 23px;
  }

  .product:nth-of-type(n+3) {
    margin-top: 28px;
  }

  .product:nth-of-type(even) {
    margin-right: 0;
  }

  .product-header {
    font-size: 1.7rem;
  }

/* FOOTER-TABLET */

  .footer {
    width: 100%;   
    padding-right: 4.4%;
    padding-left: 4.4%;
  }

/* POPUP-TABLET */

  .popup-header {
    font-size: 1.8rem;
  }

  .radio-group-text::before {
    width: 2.6rem;
    height: 2.6rem;
    background-size: 2.6rem;
  }

  .close-button {
    width: 2.6rem;
    height: 2.6rem;
    background-size: 2.6rem;
    top: -37px;
    right: 0;
  }
}

/* MOBILE */

@media(max-width:640px) {

/* HEADER-MOBILE */
  .header {
    background-image: url("../img/banner-mobile.jpg");
    padding-bottom: 210px;
  }

  .menu {
    width: 90%;
    align-items: flex-start;
    position: relative;
  }

  .logo {
    margin: 198px auto 0;
    width: 75%;
  }

  .logo-img {
    width: 100%;
  }

  .menu-list {
    display: none;
  }

  .menu-list-button {
    display: block;
    position: absolute;
    width: 2.3rem;
    height: 1.9rem;
    background-color: transparent;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    padding: 0;
    right: 0;
  }

  .menu-list-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: 0;
  }

  .menu-button-label {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: calc(50% - 1.5px);
  }

  .menu-list-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
  }

  .title {
    font-size: 2.6rem;
    line-height: 1.38;
    margin: 31px auto 0 auto;
    max-width: 80%;
  }

  /* TRENDS-MOBILE */

  .trends-box {
    margin-top: 40px;
  }

  .tredns-shop-header {
    font-size: 1.6rem;
  }

  .trends {
    flex-wrap: wrap;
    margin-top: 22px;
  }

  .trend {
    width: 100%;
    min-height: 23rem;
    margin-right: 0;
  }

  .trend:nth-of-type(n+2) {
    margin-top: 5px;
  }

  .trend-text-box {
    padding: 26px 17px 20px 17px;
  }

  .trend-header {
    font-size: 1.6rem;
  }

  /* POSTS-MOBILE */

  .page {
    display: block;
    width: 100%;
    margin-top: 42px;
  }

  .main-page {
    width: 100%;
  }

  .post {
    display: block;
    width: 91%;
    margin: 0 auto;
    border-bottom: 3px solid #eeeeee;
  }

  .post:nth-of-type(n+2) {
    margin-top: 34px;
  }

  .post-img {
    width: 100%;
  }

  .post-text {
    margin-left: 0;
    margin-top: 10px;
  }

  .post-header {
    margin-top: 10px;
    margin-bottom: 23px;
  }

  .post-header_link {
    font-size: 1.6rem;
  }

  .post-article {
    font-size: 1.4rem;
  }

  .date-author {
    margin-bottom: 0; 
  }

  /* ASIDE-MOBILE */

  .side-bar {
    margin: 45px auto 0 auto;
    width: 91%;
  }

  .aside__headers {
    font-size: 1.6rem;
  }

  /* Shop-and-Footer-MOBILE */

  .shop-box {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
  }

  .products {
    flex-wrap: wrap;
  }

  .product {
    width: 100%;
    margin-right: 0;
  }

  .product:nth-of-type(n+2) {
    margin-top: 25px;
  }

  .footer {
    width: 91%;
  }

  .copyrights {
    margin-top: 50px;
  }

/* POPUP-MOBILE */

  .popup {
    width: 91%;
  }

  .popup-header {
    font-size: 1.6rem;
  }

  .radio-group-text::before {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }

  .close-button {
    width: 2.8rem;
    height: 2.8rem;
    background-size: 2.8rem;
    top: -37px;
    right: 0;
  }
}